


.open-sans-normal {
  font-family: "Open Sans", "sans-serif";
  font-optical-sizing: auto ;
  /* font-weight: 400; */
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
/* shared style */

.text-primary{
    color: rgb(255, 149, 0);
    font-size: ;
}

/* nav style  */

nav{
    display: flex;
    
}